.input-container {

    padding-top: 10px;
}

.input-container input {
    width: 20rem;
    height: 2.5rem;
    border: none;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5pc;
    padding-left: 15px;
    color: #cfcfcf;
    font-size: 20px;
    box-shadow: 2px 4px 5px#747474;
    transition: 0.9s ease;
}

.input-container input:hover {
    color: #747474;
    background: #000;
}

.input-container input::placeholder {
    padding-left: 1px;
    color: #cfcfcf;
    position: relative;
}

#add-todo-btn {
    position: relative;
    right: 65px;
    top: 10px;
    transform: translateY(-50%);
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(111, 111, 111);
    transition: 0.9s ease;
}

#add-todo-btn:hover {
    color: rgb(245, 245, 245);
    background-color: rgb(120, 120, 120);
}

.input-container input {
    border: 1px solid grey;
    border-bottom-right-radius: 1px;
    background-color: #828282;
    /* Add other styles as needed */
}

input:focus {
    outline: 1px solid rgb(88, 88, 88);
}

@media (max-width:499px) {
    #add-todo-btn {
        margin-top: 1rem;
        right: 3px;
    }
}